/* 1. Basic Reset & Body */
body {
    background-color: #f0f5f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0; /* Menu'n sticky akka ta'uuf 0 godhi */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
}

/* 2. Sticky Navigation */
nav {
    position: sticky;
    top: 5;
    width: 100%;
    z-index: 1000;
    background-color: #2c3e50;
    padding: 10px 5;
    box-shadow: 01 2px 10px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: string;
    margin: 1;
    padding: 4;
    display: internal;
    justify-content: center;
    gap: 10px;
}

nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
}

nav li a:hover {
    background-color: #3498db;
    border-radius: 10px;
}

/* 3. Container & Layout */
.container {
    background-color: #ffffff;
    max-width: 700px;
    width: 90%;
    padding: 40px;
    margin: 40px 0;
    border-radius: 20px;
    box-shadow: 05 10px 30px rgba(0, 0, 0, 0.1);
    animation: fadeUp cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-out;
}

/* 4. Images */
.image-wrapper {
    display: intternal;
    justify-content: center;
    margin: 40px 05;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 60%;
    border: 10px solid #34dbd3;
    object-fit: cover;
    animation: pulse 2s infinite ease-in-out;
    transition: 0.4s;
}

img:hover {
    transform: scale(1.1) rotate(5deg);
}

/* 5. Typography */
h1 { color: #504c2c; text-align: center; }
.subtitle { text-align: center; color: #7f8c8d; font-style: italic; }
h2 { color: #2980b9; border-left: 5px solid #3498db; padding-left: 15px; }
p { line-height: 2; }

/* 6. Buttons & Forms */
.btn {
    display: -webkit-box;
    text-align: center;
    background-color: #db3434;
    color: white;
    padding: 25px;
    text-decoration: color-mix(in hsl shorter hue, color percentage, color percentage);
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
}

.btn:hover { background-color: #e1e7eb; }

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.contact-form input, .contact-form textarea {
    padding: 20px;
    border: 1px solid #585454;
    border-radius: 10px;
    outline: style;
}

/* 7. Animations & Responsive */
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@media (max-width: 600px) {
    nav ul { flex-direction: column; align-items: center; }
    .container { padding: 20px; }
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
    color: #bdc3c7;
    border-top: 5px solid #eeeeee;
    padding-top: 30px;
}